@import 'styles/theme';

.ScreenGrid {
  display: grid;
  height: calc(100vh - #{$header_height} - #{$base_padding} - #{$base_padding});
  min-height: 600px;
  grid-template-rows: auto 1fr auto;
  margin: $base_padding auto $base_padding auto;
  width: 60%;
  grid-template-columns: 1fr;
  grid-row-gap: 40px;
  grid-auto-flow: row;

  .grid {
    grid-template-columns: auto auto;
    column-gap:20px;
    display: grid;
  }

  .grid-1 {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 90%;
    grid-column-gap: 20px;
    grid-row-gap: 13px;
    //min-height: fit-content;
    height: 40vh;
  }

  .grid-2 {
    grid-row: 3;
  }

  .title{
    grid-row: 1;
    font-family: $fontDefault;
    color: $off_white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: space-between;
    &.grid2{
      grid-column-start:1;
      grid-column-end:4;
    }
  }

  .player{
    font-family: $fontDisplay;
    color: $secondary_color;
    font-size: 1.5em;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
  }
  .points-endgame{
    font-family: $fontDisplay;
    color: $secondary_color;
    font-size: 7em;
    line-height: 0.6em;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
  }

  .background-rematchoption{
    grid-row:3;
    background-color: $off_white;
    border-radius: $borderRadius;
    flex-grow: 1;
    width: 100%;
    height: 130px;
    margin: 0 auto;
  }

  .topicSelection{
    grid-row:2;
    display:grid;
    width: 100%;
    height: 50px;
    margin: 0 auto;
  }

  .background-points-winner{
    grid-row:2;
    background-color: $off_white;
    border-radius: $borderRadius;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    text-align: center;
  }
  .background-points-loser{
    grid-row:2;
    background-color: $off_white;
    border-radius: $borderRadius;
    width: 100%;
    margin: 0 auto;
    height: 80%;
    text-align: center;
  }
  .content {
    display: flex;
    padding: $base_padding;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
    .topic-endgame{
      font-family: $fontDefault;
      color: black;
      font-size: 20px;
      font-weight: bold;
      justify-content: space-between;
      align-items: center;
      place-items: center;
    }
    .twoButtons{
      grid-gap: 20px;
      display:grid;
      grid-template-columns: 1fr 1fr;
      font-weight: bold;
      align-items: center;
      width: 100%;
    }
}

.RankUpdate {
  position: absolute;
  width: 400px;
  height: auto;
  left: calc(50% - 200px);
  right: calc(50% - 200px);
  top: calc(50% - 200px);
  z-index: 20;
  filter: drop-shadow(0px 0px 8px #00000032);

  p {
    text-align: center;
  }

  &.overlay {
    position: absolute;
    background-color: #00000032;
    left: 0px;
    top: 0px;
    z-index: 15;
    width: 100vw;
    height: 100vh;
  }

  &.base-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    grid-gap: 40px;
  }

  .button-container {
    width: 100%;
    justify-self: end;
  }

  .rank-placement {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .rank-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title-placement {
    grid-row: 1;
    grid-column: 1/-1;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .timer-placement {
    grid-row: 3;
    grid-column: 1/-1;
  }
  .timer-label{
      color: black;
    }
  .accent {
    width: 180px;
    height: 180px;
    z-index: -1;
    margin-left: 2px;
    margin-top: -90px;
  }
}



