@import 'styles/theme';

.gameheader {
  height: 100px;
  font-weight:bold;
  &.container {
    display:grid;
    gap: $base_padding;
    grid-template-columns: minmax(auto, 300px) minmax(auto, 300px) 1fr auto 200px;
    align-items:center;
    padding: 0px $base_padding 0px $base_padding;
  }
  .logo {
    color: $off_white;
    text-align: center;
    font-family: $fontDisplay;
    font-size: 50px;
    justify-content: space-between;
    padding-left: $borderRadius;
  }
  
  .content {
    color: $off_white;
    text-align: center;
    font-family: $fontDefault;
    font-size: 20px;
    flex:1;
    justify-content: space-between;
  }
  
  .gamecontentheader{
    color: $off_white;
    font-size: 20px;
    text-align: center;
    flex:1;
    justify-content: space-between;
    font-family: $fontDefault;
    padding-left: $borderRadius;
    &.fontbold{
      font-weight: bold;
    }
  }  
}

