@import 'styles/theme';

.header {
  font-family: $fontDisplay;
  font-size: 100px;
  &.container {
    @include center;
  }

  &.title {
    font-weight: bold;
    color: $off_white;
    text-align: center;
  }
}