@import 'styles/theme';

.header {
  font-family: $fontDisplay;
  font-size: 80px;
  height: $header_height;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  &.container {
    @include center;
  }

  &.title {
    color: $off_white;
    text-align: center;
  }
}