@import 'styles/theme';

.homeheader {
  height: $header_height;
  position: relative;

  &.container {
    display: grid;
    grid-template-columns: 100px minmax(360px, 1fr) auto;
    align-items: center;
    padding-left: $base_padding;
    padding-right: $base_padding;
  }

  .logo {
    z-index: 1;
    color: $off_white;
    font-family: $fontDisplay;
    font-size: 50px;
    justify-content: space-between;
    text-align: left;
    line-height: $header_height;
    font-weight: bold;

    &.fontbold {
      font-weight: bold;
      transform: none;
    }
  }

  .content {
    grid-template-columns: 100px 1fr;
    text-align: right;
    font-family: $fontDefault;
    font-size: 20px;
  }

  .profile-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:100%;
  }
  .profile {
    grid-column: 3;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: auto;
    margin-left: $base_padding;
    cursor: pointer;
    @extend .base-transition;

    .username {
      white-space: nowrap;
    }

    p {
      color: $off_white;
    }
  }

  .navigation {
    z-index:1;
    grid-column: 2;

    > * {
      float: right;
      align-self: center;
      height: $header_height;
      line-height: $header_height;
      margin-left: 70px;
      position: relative;
      display: flex;
      align-items: center;
    }

    .disabled{
      opacity: 0.5;
      color: $off_white;
    }
  }
  .icons{
    margin-right: 10px;
    position: absolute;
    transform: translateY(-50%);
    &:hover {
      filter: hue-rotate(270deg);
      color: $secondary_color;
    }
  }
}

.editProfile{
  position: absolute;
  top: 0;
  left: 0;
}





