@import 'styles/theme';

.popup {
  &.container {
    width: 40%;
    max-width: 1000px;
    min-width: 500px;
    max-height: 600px;
    color: $font_primary;
    height: auto;
    &.secondary {
      margin-top: $base_padding;
    }
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    max-width: 30em;
    font-size: 16px;
    font-weight: 300;
    border-radius: 0.75em;
    background-color: $off_white;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.6em;
    margin-bottom: 20px;
    background: transparentize(white, 0.85);
    color: $font_primary;
  }
  &.label {
    color: $font_primary;
    margin-bottom: 5px;
    text-transform: lowercase;
    font-weight: 300;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-weight: bold;
    padding-top: $borderRadius;
  }
  .title{
    height: 35px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    color: black;
  }
  &.content{
    display: flex;
    height: 35px;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    margin-left: -4px;
    width: 100%;
    margin-bottom: 20px;
    color: $font_primary;
    &.font{
      font-family: $fontDefault;
      font-size: 20px;
    }
  }
  .label-container{
    display:flex;
    justify-content: space-between;
  }
  .button-container {
    margin-top: $base_padding;
  }
}

.twoButtons{
  grid-gap: 20px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  font-weight: bold;
}

.rulesGrid{
  display: grid;
  grid-template-rows: 20px 1fr auto ;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
  padding: 0px;
  }
  .title_location{
    grid-row:1;
  }
  .content_location{
    grid-row: 2;
    max-height: 300px;
    overflow:auto;
  }
  .button_location{
    grid-row: 3;
  }

.Player_location{
  max-height: 300px;
  overflow:auto;
}


