@import 'styles/theme';

.ProfilePicture {
  &.container{
    display:grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 1/-1;
    margin-bottom: $base_padding;
    justify-content: center;
    align-content: center;
  }
}
