@import 'styles/theme';

.ScreenGrid-Score{
  display: grid;
  max-height: 100vh;
  height: auto;
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr;
  grid-row-gap: 40px;
  grid-auto-flow: row;

  .grid-0 {
    grid-auto-flow: row;
  }

  .grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-column: 1;

    ul {
      padding:0px;
      margin: 0px;
    }
  }

  .grid-1 {
    grid-template-rows: 20px 90%;
  }

  .grid-2 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .timing-location{
    grid-row: 5;
  }

.title{
  grid-row: 1;
  font-family: $fontDefault;
  color: $off_white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  justify-content: space-between;
  &.grid2{
    grid-column-start:1;
    grid-column-end:4;
  }
}

.topic{
  font-family: $fontDefault;
  display: flex;
  color: black;
  font-size: 18px;
  height: fit-content;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: $base_padding;
}

.player{
  font-family: $fontDisplay;
  color: $secondary_color;
  font-size: 8vh;
  transform: translate(7px, calc(0vh - 20px));
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}
.points-score{
  font-family: $fontDisplay;
  color: $secondary_color;
  font-size: 20vh;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  transform: translate(0px, calc(-13vh - 0px));
}

.background-topic-waiting{
  grid-column-start:1;
  grid-column-end:4;
  background-color: $off_white;
  border-radius: $borderRadius;
  flex-grow: 1;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
}

.topicSelection{
  grid-row:2;
  width: 100%;
  margin: 0 auto;
}

.background-points{
  grid-row:2;
  background-color: $off_white;
  border-radius: $borderRadius;
  width: 100%;
  margin: 0 auto;
  height:300px;
}}


