@import 'styles/theme';

.ScreenGrid-Score{
  display: grid;
  height: calc(100vh - #{$header_height});
  min-height: 600px;
  grid-template-rows: auto 1fr auto;
  margin: 0px auto 0px auto;
  padding: $base_padding 0px $base_padding 0px;
  width: 60%;
  grid-template-columns: 1fr;
  grid-row-gap: 40px;
  grid-auto-flow: row;

  .grid-0 {
    grid-auto-flow: row;
  }

  .grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-column: 1;

    ul {
      padding:0px;
      margin: 0px;
    }
  }

  .grid-1 {
    grid-template-rows: 20px 1fr;
    height:100%;
  }

  .grid-2 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .timing-location{
    grid-row: 5;
  }

.title{
  grid-row: 1;
  font-family: $fontDefault;
  color: $off_white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  justify-content: space-between;
  &.grid2{
    grid-column-start:1;
    grid-column-end:4;
  }
}

.topic{
  font-family: $fontDefault;
  display: flex;
  color: black;
  font-size: 18px;
  height: fit-content;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: $base_padding;
}

.player{
  font-family: $fontDisplay;
  color: $secondary_color;
  font-size: 1.5em;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}
.points-score{
  font-family: $fontDisplay;
  color: $secondary_color;
  font-size: 7em;
  line-height: 0.6em;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}

.background-topic-waiting{
  grid-column-start:1;
  grid-column-end:4;
  background-color: $off_white;
  border-radius: $borderRadius;
  flex-grow: 1;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
}

.topicSelection{
  grid-row:2;
  width: 100%;
  margin: 0 auto;
}

.background-points{
  grid-row:2;
  background-color: $off_white;
  border-radius: $borderRadius;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}}


