@import 'styles/theme';

.user-profile {
  &.container {
    display: grid;
    grid-template-columns: 1/3 1fr;
    grid-template-rows: 1/4 auto;
  }
  .picture-location{
    grid-row:2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .form-location{
    padding: 12px;
    grid-column:2;
    grid-row: 2;
  }

  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  & p,h2 {
    margin: 0.5em 0;
  }

  .picture {
    background-color: lightgrey;
  }

  .profile-picture-container{
    position:relative;
    display: inline-block;
  }
  .edit-icon{
    position:absolute;
    background-color: $secondary_color;
    border-radius: 50%;
    top: 85%;
    left: 80px;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}
