@import 'styles/theme';

.base-container {
  margin-left: auto;
  padding-left: 15px;
  margin-right: auto;
  padding-right: 15px;
  border-radius: $borderRadius;
  max-width: $DESKTOP_WIDTH;
  background-color: $off_white;
  color: $font_primary;
}