@import 'styles/theme';

.base-container {
  margin-left: auto;
  padding: $base_padding;
  margin-right: auto;
  border-radius: $borderRadius;
  max-width: $DESKTOP_WIDTH;
  background-color: $off_white;
  color: $font_primary;
  margin-bottom: $base_padding;
  margin-top: $base_padding;
}