@import 'styles/theme';

.primary-button {
  &:hover {
    transform: scale(1.04);
  }
  &:disabled {
    opacity: 0.4;
    background-color: $disabled_button;
    &:hover {
      transform: none;
    }
  }
  padding: 6px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  height: $base_padding;
  border: none;
  border-radius: $borderRadius;
  opacity: 1;
  color: $off_white;
  background-color: $secondary_color;
  @extend .base-transition;
}
