@import 'styles/theme.scss';

.game-button {
    cursor: pointer;
    height:auto;
    margin:0px;
    width: 100%;
    z-index: 5;
    position: relative;

    &.container &:hover {
        transform: translate(-6px, -6px);
        filter: drop-shadow(6px 6px 0px $secondary_color);
    }
    &.topicContent{
        font-family: $fontDefault;
        display: flex;
        color: black;
        font-size: 18px;
        height: 100px;
        justify-content: center;
        align-items: center;
    }

    &.inactive {
        pointer-events: none;
    }
  
    &.disabled {
        opacity: 0.2;
        z-index: 0;
    }

    &.selected {
        transform: translate(-6px, -6px);
        filter: drop-shadow(6px 6px 0px $secondary_color);
        .accent {
            transform: translate(6px, 6px);
            filter: none;
        }
    }

    &.selected-icon {
        position: absolute;
        width: $base_padding;
        height: $base_padding;
        right: -10px;
        top: -20px;
    }
}