@import 'styles/theme.scss';

.game-button {
    cursor: pointer;
    height:auto;
    margin:0px;
    width: 100%;

    &:hover {
        transform: translate(-6px, -6px);
        filter: drop-shadow(6px 6px 0px $secondary_color);
    }
    &.topicContent{
        font-family: $fontDefault;
        display: flex;
        color: black;
        font-size: 18px;
        height: 100px;
        justify-content: center;
        align-items: center;
    }

}