@import 'styles/theme';

.user-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:10px;
    margin: 0px;
    padding: 0px;
    padding-top:20px;
    height:100%;
    overflow:auto;

    .title {
        text-align: center;
    }

    .highlight-background {
        background-color: lightgrey;
        border-radius: 12px;
    }
}