@import 'styles/theme';

.user-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:10px;
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    height:auto;
    max-height: 100%;

    .title {
        text-align: center;
    }
}