@import 'styles/theme';

.player {
    cursor: pointer;
    &.container {
      border-radius: $base_padding;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 5px;
      padding-right: 10px;
      &:hover {
        @extend .base-transition;
        color: $secondary_color;
        background-color: rgb(228, 228, 228);
      }
    }
    &.username {
      padding-right: 8px;
      justify-self: left;
    }
    &.profile-picture {
        height: $base_padding !important;
        width: $base_padding !important;
        background-color: lightgray;
        border-radius: 100%;
        justify-self: left;
      pointer-events: auto;

    }
    &.rank {
       margin-left: auto;
      color: gray;
    }
    &.points {
      margin-left: auto;
    }

  }