@import 'styles/theme';

.round-result {

    &.container {
        display: grid;
        grid-template-columns: auto auto 1fr auto;
        grid-template-rows: auto;
        grid-gap: 20px;
        padding: 10px 20px 10px 20px;
        margin: 0px;
        width: 100%;
        flex-grow: 1;
    }

    .index {
        grid-column: 1;
        align-self: center;
        color: $disabled_button;
    }

    .points {
        grid-column: 2;
        align-self: center;
    }

    .icon {
        grid-column: 4;
        color: $secondary_color;
        width:20px;
        height: 20px;
    }
}

.question-result-container {
    display: flex;
    align-items: start;
    margin:0px;
    gap:20px;

    .question-box {
        width:20px;
        height:20px;
        border-style: solid;
        border-color: $secondary_color;
        margin: 0px;
        border-radius: 100%;
        display:flex;
        justify-content:center;
        align-items: center;
        &.disabled {
            border-color: $disabled_button;
            img {
                display:none;
            }
        }
        img {
            width:100%;
            height:100%;
        }
    }
  }
  

