@import 'styles/theme';

.selection-button {
    @keyframes scale {
        0% {
          transform: scale(0%);
        }
        100% {
          transform: scale(100%);
        }
    }

    &.container {
        background-repeat: no-repeat !important;
        background-size:contain !important;
        background-position: center !important; 
        display: flex;
        justify-content: center;
        align-items: center;
        width:250px;
        height:250px;
        cursor: pointer;
        animation:bobbing 1s infinite ease-in-out;

        &:hover {
            animation: boing 0.5s ease 1;
        }
    }

    &.inactive {
        opacity: 0.5;
        pointer-events: none;
        animation: none;
    }
    .title {
        color: $secondary_color;
        font-family: $fontDisplay;
        font-size:  150px;
        line-height: 130px;
        transform: translate(0, -10px);
        font-weight: 600;
        text-align: center;
        white-space: pre-line;
    }
}