@import 'styles/theme.scss';

.timer {
    &.container {
        grid-row:3;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 20px;
        grid-auto-flow: column;
        height: 20px;
    }

    &.label {
        font-size: 20;
        font-weight: 600;
    }

    &.bar {
        background-color: $secondary_color;
        border-radius: 20px;
        height:100%;
    }
}