@import 'styles/theme.scss';

.timer {
    color:inherit;
    &.container {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 20px;
        grid-auto-flow: column;
        height: 20px;
    }

    &.label {
        font-size: 20;
        font-weight: 600;
        z-index: 1;
        color:inherit;
    }

    &.bar {
        background-color: $secondary_color;
        border-radius: 20px;
        height:100%;
        z-index: 1;
    }
}