/*
  This file contains the most basic variables that control how your application will look.
 */

/* Theme Colors

   these values control the colors of your application.
   feel free to play around with these and see what other look you can come up with! :D
*/

$disabled_button: #B4B4B4;
$off_white: #faf6f8;
$background_orange: #FFAA1F;
$background_red: #F43700;
$secondary_color: #4B1BCE;
$font_primary: black;

/* some constants */

$DESKTOP_WIDTH: 1160px;
$SMALL_LAPTOPS_WIDTH: 970px;
$TABLETS_WIDTH: 750px;
$SMALL_WIDTH: 768px;

/* some standard elements */
/* fonts */
$fontDefault: "degular", sans-serif;
$fontDisplay: "obviously-compressed", sans-serif;
$fontMono: "Roboto Mono", monospace;

/* a standard drop shadow */
$dropShadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);

$borderRadius: 12px;
$base_padding: 40px;
$header_height:100px;

.fill {
  min-width: 100vw;
  min-height: 100vh;
}

h2,h1,h3 {
  margin:0px;
  padding:0px;
}

/* mixins

  these allow you to create small snippets that you can insert with a one-liner in other stylesheets
  for an example, see styles/views/Login.scss
*/
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  text-transform: uppercase;
}

.base-transition {
  transition: all 0.3s ease;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.error {
  color: $background_red;
}

.profile-picture {
  //height: $base_padding !important;
 //width: $base_padding !important;
  background-color: $off_white;
  border-radius: 100%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes bobbing {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes boing {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.star {
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: 1;
  left: 50%;
  margin-left: -200px;
  top: 50%;
  margin-top: -200px;
  animation: rotation 4s infinite linear;
}

.display {
  font-family: $fontDisplay;
  font-size: 200px;
  font-weight: 600;
  color: $off_white;
  text-align: center;
  line-height: 160px;
}

.nav-item {
  color: $off_white;
  font-weight: bold;
  @extend .base-transition;
  cursor: pointer;

  &:hover {
    color: $secondary_color;
    transform: scale(1.1);
  }
}

